/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Voltaire&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Voltaire', sans-serif; */
/*  */

/* COLORS */
:root {
  --clr-primary: #dffdff;
  --clr-medium: #416165;
  --clr-dark: #061c23;
  --clr-accent: #647e90;
}

/* UTILITY - GLOBAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SMOOTH SCROLLING */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Voltaire', sans-serif;
  color: var(--clr-primary);
  text-align: center;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-primary);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--clr-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000;
}

main {
  max-width: 79rem;
  padding: 2rem;
  margin: auto;
}

.split {
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 333ms ease-in-out;
  background: black;
  padding: 0.75em 0;
  z-index: 10;
  border-bottom: 0.2em solid var(--clr-dark);
  border-radius: 0 0 0.5em 0.5em;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

nav a {
  display: inline-block;
}

a:hover {
  color: var(--clr-accent);
}

/* HERO */
.hero {
  /* max-height: 70vh; */
  min-height: 550px;
  background-image: url(./img/laura-fence.JPG),
    radial-gradient(
      circle,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(11, 57, 72, 0.5) 45%,
      rgba(0, 212, 255, 0.5) 100%
    );
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 1em;
  border-radius: 0.2em;
}

.hero__text {
  position: sticky;
  overflow: hidden;
  top: 40%;
  text-align: center;
}

.hero__text {
  font-family: 'Voltaire', sans-serif;
  font-size: 1.4rem;
  /* margin-bottom: 0.3em; */
}

/* ABOUT SECTION */
.about {
  text-align: center;
}

.about__img img {
  border-radius: 0.2em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.3em var(--clr-accent);
}

.about__text {
  font-size: 1rem;
  line-height: 1.4;
}

.about__text p:nth-child(1) {
  margin-bottom: 0.75rem;
}

.about a {
  text-decoration: var(--clr-accent) underline;
}
.about i {
  font-size: 0.6rem;
  vertical-align: text-top;
}
/* BANDCAMP SECTION */
.music {
  text-align: center;
  margin: 1em 0;
}

.music h2 {
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}

.music iframe {
  border-radius: 0 0 0.2em 0.2em;
}

.music img {
  box-shadow: 0 0 0.3em var(--clr-accent);
  border-radius: 0.2em 0.2em 0 0;
}

/* PRESS SECTION */
.press {
  text-align: center;
}

.press h2 {
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}

.press__card {
  background-color: var(--clr-dark);
  border-radius: 0.3em;
  padding: 0.75em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.3em var(--clr-accent);
}

.press__card h3 {
  padding: 0.4em 0;
  font-size: 1.45rem;
  text-decoration: var(--clr-accent) underline;
  letter-spacing: 0.00725rem;
}

.press__card h3:hover {
  color: var(--clr-accent);
}

.press__card p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.press__card i {
  vertical-align: text-top;
  font-size: 0.6rem;
}

.press__card img {
  border-radius: 0.2em;
}

/* CONTACT SECTION */
.contact {
  text-align: center;
}
.contact h2 {
  font-size: 2.5em;
}
.contact__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.3em;
  margin-bottom: -2em;
}

.contact__links a {
  padding-top: 0.5em;
  letter-spacing: 0.2em;
}

/* FOOTER */
footer {
  background-color: var(--clr-dark);
  margin-top: 1.3em;
}

footer p {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.8em 0;
}

.gradymail {
  text-decoration: var(--clr-accent) underline;
}
/* MEDIA QUERIES */

/* TABLET / PHABLET / EXCEPTIONALLY LARGE PHONE */

@media (min-width: 44em) {
  html {
    font-size: 24px;
  }

  nav {
    border-bottom: 0.7em solid var(--clr-dark);
  }

  .navbar__links a {
    font-family: 'Voltaire', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.1em;
  }

  .hero__text {
    font-size: 2rem;
  }

  .about__text {
    font-size: 1.2rem;
  }

  .bandcamp__player {
    width: 90%;
    margin: 1em auto;
  }

  .music h2,
  .press h2 {
    font-size: 4rem;
  }

  .press h3 {
    font-size: 2rem;
  }

  .press p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .contact {
    font-size: 1.5rem;
    padding-bottom: 1em;
  }

  footer p {
    font-size: 1rem;
    font-family: 'Voltaire', sans-serif;
    letter-spacing: 0.075rem;
  }
}

/* DESKTOP / WIDESCREEN */

@media (min-width: 62.5em) {
  html {
    font-size: 30px;
  }

  h2 {
    text-decoration: 0.3rem var(--clr-accent) underline;
  }

  nav {
    font-size: 0.1rem;
    border-bottom: 2em solid var(--clr-dark);
  }

  .hero__text h1 {
    font-size: 5.3rem;
    letter-spacing: 0.3rem;
    top: 32%;
  }

  /* ABOUT SECTION */
  .split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .about__img {
    width: 40%;
    flex-grow: 10;
    margin-right: 1rem;
    flex-basis: 2;
  }
  .about__text {
    font-size: 0.675rem;
    max-width: 50%;
    height: auto;
    text-align: left;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 1;
  }

  /* MUSIC SECTION */

  .music img {
    display: inline-block;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 0.2em;
  }

  .bandcamp__player {
    width: 700px;
    margin: auto;
  }

  /* PRESS */

  .press-split {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .press__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 1;
    width: 100%;
  }

  .press__img {
    display: block;
    width: 40%;
  }

  .press__card__text {
    display: flex;
    flex-direction: column;
    max-width: 20em;
  }

  .press__card__text h3 {
    font-size: 2rem;
    padding: 1rem 0 1em 0;
  }

  .press__card__text p {
    font-size: 1rem;
    font-weight: 100;
  }
}
