/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Voltaire&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Voltaire', sans-serif; */
/*  */

/* COLORS */
:root {
  --clr-primary: #dffdff;
  --clr-medium: #416165;
  --clr-dark: #061c23;
  --clr-accent: #647e90;
}

/* UTILITY - GLOBAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* SMOOTH SCROLLING */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Voltaire', sans-serif;
  color: var(--clr-primary);
  text-align: center;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-primary);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--clr-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000;
}

main {
  max-width: 79rem;
  padding: 2rem;
  margin: auto;
}

/* NAVBAR */
nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 333ms ease-in-out;
  background: black;
  padding: 0.75em 0;
  z-index: 10;
  border-bottom: 0.2em solid var(--clr-dark);
  border-radius: 0 0 0.5em 0.5em;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

nav a {
  display: block;
}

a:hover {
  color: var(--clr-accent);
}

/* HERO */
.hero {
  height: 70vh;
  background-image: url(./img/laura-fence.JPG),
    radial-gradient(
      circle,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(11, 57, 72, 0.5) 45%,
      rgba(0, 212, 255, 0.5) 100%
    );
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 1em;
  border-radius: 0.2em;
}

.hero__text {
  position: sticky;
  overflow: hidden;
  top: 40%;
  text-align: center;
}

.hero__text {
  font-family: 'Voltaire', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.3em;
}

/* ABOUT SECTION */
.about {
  text-align: center;
}

.about__img img {
  border-radius: 0.2em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.3em var(--clr-accent);
}

.about__text {
  font-size: 1rem;
  line-height: 1.4;
}

.about__text p:nth-child(1) {
  margin-bottom: 0.75rem;
}

.about i {
  font-size: 0.6rem;
  vertical-align: text-top;
}
/* BANDCAMP SECTION */
.music {
  text-align: center;
  margin: 1em 0;
}

.music h2 {
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}

.music iframe {
  border-radius: 0 0 0.2em 0.2em;
}

.music img {
  box-shadow: 0 0 0.3em var(--clr-accent);
  border-radius: 0.2em 0.2em 0 0;
}

/* PRESS SECTION */
.press {
  text-align: center;
}

.press h2 {
  padding-bottom: 0.5em;
  font-size: 2.5rem;
}

.press__card {
  background-color: var(--clr-dark);
  border-radius: 0.3em;
  padding: 0.75em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.3em var(--clr-accent);
}

.press__card h3 {
  padding: 0.4em 0;
  font-size: 1.45rem;
  text-decoration: var(--clr-accent) underline;
  letter-spacing: 0.00725rem;
}

.press__card h3:hover {
  color: var(--clr-accent);
}

.press__card p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.press__card i {
  vertical-align: text-top;
  font-size: 0.6rem;
}

.press__card img {
  border-radius: 0.2em;
}

/* CONTACT SECTION */
.contact {
  text-align: center;
}
.contact h2 {
  font-size: 2.5em;
}
.contact__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.3em;
  margin-bottom: -2em;
}

.contact__links a {
  padding-top: 0.5em;
  letter-spacing: 0.2em;
}

/* FOOTER */
footer {
  background-color: var(--clr-dark);
  margin-top: 1.3em;
}

footer p {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.8em 0;
}

/* MEDIA QUERIES */
@media (min-width: 40em) {
  html {
    font-size: 24px;
  }

  body {
    background-color: red;
  }

  nav {
    border-bottom: 0.7em solid var(--clr-dark);
  }

  .navbar__links a {
    font-family: 'Voltaire', sans-serif;
    font-size: 2.1rem;
    letter-spacing: 0.1em;
  }

  .hero__text {
    font-size: 2rem;
  }
}
